body, p, div, h1, h2, h3, h4, h5, h6, table, tbody, tr, td, span, blockquote, a, abbr, address, cite, code, img, ul, ol, li, dl, dd, dt, form, label, fieldset, caption, input, textarea, button {
border:0;
outline:0;
color:#ffffff;
vertical-align:baseline;
list-style:none;
text-decoration:none;
line-height:1.5em;
margin:0;
padding:0
}

#horizontal-ad{display:block;}

#vertical-ad{display:none;}

#bsads{
margin-top:20px;
padding-left:10px;
}

@font-face {
font-family: 'OstrichSansBlack';
src: url('Fonts/ostrich-black-webfont.eot');
src: url('Fonts/ostrich-black-webfont.eot?#iefix') format('embedded-opentype'),  url('Fonts/ostrich-black-webfont.woff') format('woff'),  url('Fonts/ostrich-black-webfont.ttf') format('truetype'),  url('Fonts/ostrich-black-webfont.svg#OstrichSansBlack') format('svg');
font-weight: normal;
font-style: normal;
}

body {
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
font-size:13px; 
color:#333;
font-family:Arial, Helvetica, sans-serif;
}

div#wrap {
width:980px;
position:relative;
margin:0 auto!important
}


/* Browser Highlighting
-----------------------------------------------------------------------------*/	
::-moz-selection { background: #DD7A50; color: #fff; text-shadow: none; }
::selection { background: #DD7A50; color: #fff; text-shadow: none; }


/* HEADINGS */	
h1, h2, h3, h4, h5, h6 {
font-weight:bold;
color:#414141;
font-family: 'OstrichSansBlack';
}

h1{ font-size:40px; text-align:center; margin-bottom:30px; color:white;}

h4.blue {
color: #333;
text-shadow: 1px 1px 0px #84BBDB;
font-size: 28px;
margin-top:20px;
text-shadow: 1px 1px 0 #F4F4F4, 2px 2px 0 #BFBDB6;
}	


div#container h3.page_title
{
margin-left:25px;
font-size:35px;
color:#e9e5e2;
background:url(../images/divider4.png) bottom repeat-x;
text-shadow: 1px 1px 0px #84BBDB;
text-shadow: 1px 1px 0 #F4F4F4, 2px 2px 0 #BFBDB6;
}

div#container h3.page_title:after, div#container h3.page_title:before
{
/*background-color: #777;
content: "";
height: 1px;
position: absolute;
top: 15px;
width: 120px;   */
}

div#container h3.page_title:after
{ 
background-image: -webkit-gradient(linear, left top, right top, from(#777), to(#fff));
background-image: -webkit-linear-gradient(left, #777, #fff);
background-image: -moz-linear-gradient(left, #777, #fff);
background-image: -ms-linear-gradient(left, #777, #fff);
background-image: -o-linear-gradient(left, #777, #fff);
background-image: linear-gradient(left, #777, #fff);      
right: 0;
}

div#container h3.page_title:before
{
background-image: -webkit-gradient(linear, right top, left top, from(#777), to(#fff));
background-image: -webkit-linear-gradient(right, #777, #fff);
background-image: -moz-linear-gradient(right, #777, #fff);
background-image: -ms-linear-gradient(right, #777, #fff);
background-image: -o-linear-gradient(right, #777, #fff);
background-image: linear-gradient(right, #777, #fff);
left: 0;
}


.subhead {
background: url("../images/subhead-bg.png") repeat-x scroll 0 0 ;
height: 22px;
text-align: center;
margin:40px 0px 20px 0px;
}

.subhead h4, .subhead h4 a {
background: none repeat scroll 0 0 black;
display: inline-block;
line-height: 22px;
margin: 0;
padding: 0 20px;
color: #f73203;
text-transform:uppercase;
font-size:30px;
text-decoration:none;
}


/*COMMON CLASSES*/

p{ line-height:150%; padding-bottom:10px; color:#222; text-align:justify;}

img.no_border {
border:none!important
}

.clear {
clear:both
}

.space {
display:block;
float:left;
clear:both;
margin:10px 0
}

ul li {
line-height:2;
padding-left:15px;
}

a:link, a:visited {
text-decoration:underline
}

input, textarea, button {
clear:both;
float:left;
font-style:italic;
margin-bottom:1px;
padding:10px
}

input {
width:97.5%;
}

button {
cursor:pointer;
margin-right:-2px !important;
font-style:normal;
}

ol li {
list-style:decimal inside;
padding:5px 0
}

blockquote {
padding-left:60px;
background:url(../images/quote-mark.png) top left no-repeat;
padding-top:20px;
padding-bottom:20px;
clear:both;
}

blockquote ul li{ 
line-height:130%; 
padding:0px; 
color:#525252; 
text-align:justify;
}

blockquote a{ 
color:#C57A50; 
font-size:11px; 
float:right; 
text-decoration:none; 
font-style:italic; 
padding-top:20px;
}

/* LEFT header */
header {
width:220px;
height:100%;
float:left;
background:#e63d64 url(../images/noise.png) repeat ;
/*border-right:1px solid #2e2f2f;*/
position:fixed;
}

#logo_bg{
background:url(../images/photos/logo_bg.png) center no-repeat;
margin-top:20px;
}	

a#logo {
text-align:center;
display:block;
width:100%;
position:relative;
z-index:999;
opacity:1;
-webkit-transition:all 300ms;
-moz-transition:all 300ms;
-o-transition:all 300ms;
transition:all 300ms;
padding: 15px 0 9px 0;
-webkit-transition:All .5s ease-in-out;
-moz-transition:All .5s ease-in-out;
-o-transition:All .5s ease-in-out;
padding-top:44px;
height:154px;
}

a#logo:hover {
-webkit-transition:All .5s ease-in-out;
-moz-transition:All .5s ease-in-out;
-o-transition:All .5s ease-in-out;
-webkit-transform: rotate(-360deg);
-moz-transform: rotate(-360deg);
-o-transform: rotate(-360deg);
-ms-transform: rotate(-360deg);
}

ul#navigation {
margin-top:25px;
margin-right:-5px;
position:relative;
width:220px;
z-index:999;
font-family: 'OstrichSansBlack';

}
ul#navigation li {
border:none;
background:none;
margin:0;
padding:0
}
ul#navigation li a:link, ul#navigation li a:visited {
text-decoration:none;
margin-bottom:1px;
width:auto;
font-size:30px;
text-align:center;
padding-left:10px !important;
display:block;
}
ul#navigation li a:hover, ul#navigation li a.active {
color:black;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-o-transition: all .3s ease-in-out;
-ms-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}


/* RIGHT CONTENT */	
div#container {
width:730px;
float:right;
padding-right:25px;
left:-5px;
position:relative;
padding-top:0;
}

div.page {
margin-bottom:0;
padding-top:20px;
}

div.page_content {
padding:20px 0 40px 25px
}


/* PORTFOLIO TAB */
div#works {
margin-top:10px;
overflow:visible!important;
width:725px;
}

div#works img {
width:30%;
margin-right:3%;
height:150px;
position:relative;
margin-bottom:26px;
float:left;
cursor:pointer;
transition:all 500ms;
-webkit-transition:all 500ms;
-moz-transition:all 500ms;
-o-transition:all 500ms;
background:#fff;
box-shadow: 0px 0px 0px 4px rgba(85, 85, 85, 0.2);
border-radius:5px;
opacity:0.9;
}

div#works img:hover {
top:-10px!important;
box-shadow: 0px 0px 0px 4px rgba(221, 121, 80, 0.7);
opacity:1;
}
ul#works_filter {
clear:both;
margin:40px auto;
overflow:hidden;
}
ul#works_filter li {
border:none;
background:none;
float:left;
padding:0;
}
ul#works_filter li a:link, ul#works_filter li a:visited {
font-size:12px;
text-decoration:none;
display:block;
color:#333333;
margin-right:1px;
padding:2px 10px;
}
ul#works_filter li a:hover, ul#works_filter li a.selected {
background:#DD7A50;
color:#fff;
opacity:1;
-webkit-border-radius: 0.2em;
-moz-border-radius: 0.2em;
border-radius: 0.2em;
/* IE hacks */
zoom: 1;
*display: inline;
}

/* SOCIAL MEDIA ICONS */	
.social_icons {
margin:0px auto;
margin-bottom:0px;
line-height:45px;
text-align:center;
border-top:dashed 2px #000;
padding-top:20px;
}

.social_icons li {
display:inline;
padding:0px !important;
}

.social_icons li img {
border:0px !important;
}

.social_icons li a{opacity:0.5; }
.social_icons li a:hover{opacity:1;	}

/*FEATURED WEBSITES*/
#featured {
	line-height:45px;
	border-top:dashed 2px #000;
	border-bottom:dashed 2px #000;
	text-align:left;
	padding-left:20px;
	}

#featured  h6{ font-size:24px; color:#DD7A50;}	
	
#featured ul li{ list-style:circle; text-transform:uppercase; margin-left:30px; padding-left:0px; }
#featured ul li a{ text-decoration:none; font-size:11px; color:#B1A796; }
#featured ul li a:hover{ color:#54B2A4;}


/* FOOTER */
footer {
text-align:center;
font-size:11px;

}
footer p{color:#CECAC2; text-align:center;}
.gotop {
position:fixed;
right:15px;
bottom:15px;
opacity:.7;
padding:10px;
color:#fff;
display:block;
text-decoration:none;
text-align:center;
font-size:13px;
font-weight:bold;
z-index:999;
transition:all 300ms;
-webkit-transition:all 300ms;
}
.gotop:hover {
color:#eee;
opacity:1
}
.gotop.hidden {
display:none;
opacity:0
}
a.gotop {
text-decoration:none!important
}


/* OTHER CSS */

.one_half {
float:left;
width:45%;
background-color:#E1DED7;
text-align:center;
margin:5%;
margin-right:0%;
border:solid 1px #B7AD9D;
border-radius:5px;
}

.one_half:hover{ -webkit-box-shadow:0px 0px 0px 1px rgba(6, 124, 117, 1); box-shadow:0px 0px 0px 1px rgba(6, 124, 117, 1);}

.first{ margin-left:0%;}

.approach_bg{background:url(../images/photos/approach_bg.png) center no-repeat;
position:relative;
top:-40px;
}

.one_half a {
-webkit-transition:all 300ms;
-moz-transition:all 300ms;
-o-transition:all 300ms;
transition:all 300ms;
padding: 15px 0 9px 0;
-webkit-transition:All .5s ease-in-out;
-moz-transition:All .5s ease-in-out;
-o-transition:All .5s ease-in-out;
display:block;
}

.one_half:hover a{
-webkit-transition:All .5s ease-in-out;
-moz-transition:All .5s ease-in-out;
-o-transition:All .5s ease-in-out;
-webkit-transform: rotate(-360deg);
-moz-transform: rotate(-360deg);
-o-transform: rotate(-360deg);
-ms-transform: rotate(-360deg);
}

.column_content{ position:relative; top:-30px;}
.column_content p{ padding:0px 15px; padding-top:10px;}

.column_content h4 {
color:#067c75;
text-shadow: 1px 1px 0px #84BBDB;
text-shadow: 1px 1px 0 #F4F4F4, 2px 2px 0 #BFBDB6;
font-size:30px;
line-height:100%;
padding-bottom:6px;
background:url(../images/h4.png) bottom repeat-x;
}
.first {
clear:left
}
.last {
clear:right
}
.left {
float:left
}


a#logo:hover, a.facebook:hover, a.twitter:hover, a.linkedin:hover, a.dribbble:hover, div.image_gallery img:hover {
opacity:.5
}
fieldset#contact_form button, .right {
float:right
}
div.misc a, a:hover {
text-decoration:none
}
div.blogpost a.readmore:hover, ul.pagination a:hover, ul.pagination a.active_page {
background:url(./images/bg/50.png);
color:#FFF
}
ol.comments li.comment a.reply:hover, div.tab ul.tab_menu li:hover, div.tab ul.tab_menu li.active {
background:#8f8f8f;
color:#FFF
}
.knob {
color: White !important;
text-shadow:1px 1px 0px #0d4667;
font-size:25px !important;
}
.clearfix {
float: none;
clear: both;
}
.prev {
position:absolute;
margin-left:-5px;
margin-top: 20px;
}
.next {
position:absolute;
margin-left: 680px;
margin-top: 20px;
}


/* overrides extra padding on button elements in Firefox */
.button::-moz-focus-inner {
padding: 0;
border: 0;
}
ul.sublist li {
width: 140px;
float: left;
}
ul.sublist li {
background: url('../images/ico-arrow.gif') 0px 10px no-repeat;
font-size:12px;
}
ul.sublist li a {
color:#fff;
text-decoration:none;
}
ul.sublist li a:hover {
color:#002b44;
}


/*skills*/
#skillset { 
list-style: none;
width: 100%;
position: relative;
}

#skillset li { 
margin-top:50px; 
background:#e9e5e2;
background-image: -webkit-gradient(linear, left top, left bottom, from(#e1ddd9), to(#e9e5e2));
background-image: -webkit-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: -moz-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: -ms-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: -o-linear-gradient(top, #e1ddd9, #e9e5e2);
background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
height:20px; 
border-radius:10px; 
-moz-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
-webkit-box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	 
box-shadow: 0 1px 0px #bebbb9 inset, 0 1px 0 #fcfcfc;	  
padding-left:0px;
}


#skillset li:first { 
margin-top:0px; 
}

#skillset li h3 { 
position:relative; 
top:-25px;
font-size:21px;
color:white;
}

.bar { 
height:18px; 
margin:1px 2px;  
position:absolute;
border-radius:10px;
-moz-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;
-webkit-box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;	 
box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.c-plus-plus {
width:98%; 
-moz-animation:c-plus-plus 2s ease-out;
-webkit-animation:c-plus-plus 2s ease-out;
background-color: #DD7A50;
}
.javascript {
width:100%;
-moz-animation:javascript 2s ease-out;
-webkit-animation:javascript 2s ease-out;
background-color: #B1A796;
}

.jquery {
width:65%;
-moz-animation:jquery 2s ease-out;
-webkit-animation:jquery 2s ease-out;
background-color: #54B2A4;
}

.aframe {
width:50%;
-moz-animation:aframe 2s ease-out;
-webkit-animation:aframe 2s ease-out;
background-color: #3E3E3E;
}

@-moz-keyframes c-plus-plus {0%  { width:0px;} 100%{ width:100%;}  }
@-moz-keyframes javascript        { 0%  { width:0px;} 100%{ width:90%;}  }
@-moz-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-moz-keyframes aframe   { 0%  { width:0px;} 100%{ width:80%;}  }

@-webkit-keyframes c-plus-plus       { 0%  { width:0px;} 100%{ width:100%;}  }
@-webkit-keyframes javascript        { 0%  { width:0px;} 100%{ width:90%;}  }
@-webkit-keyframes jquery      { 0%  { width:0px;} 100%{ width:65%;}  }
@-webkit-keyframes aframe   { 0%  { width:0px;} 100%{ width:80%;}  }


.slider_container{
width:100%;
height:400px;
margin:0 auto;

}

.img_wrapper{
width:33%;
height:200px;
margin:0px;
overflow:hidden;
position:relative;
float:left;
}

.img_wrapper a img  {
border:none;
position:absolute;   
top:-66.5px;
left:-150px;
height:500px;
opacity: 0.5;
-moz-opacity: 0.5;
filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}

h4.contact {
color:#C57A50;
text-shadow: 1px 1px 0px #84BBDB;
text-shadow: 1px 1px 0 #F4F4F4, 2px 2px 0 #BFBDB6;
font-size:30px;
line-height:150%;
padding-bottom:6px;
margin:15px 0px 20px 0px;
font-size: 24px;
text-align:center;
font-family:"Arial Narrow";
}

h4.or {
color:#333;
text-shadow: 1px 1px 0px #84BBDB;
text-shadow: 1px 1px 0 #F4F4F4, 2px 2px 0 #BFBDB6;
font-size:30px;
text-transform:capitalize;
text-align:center;
}

#contact_img{ margin:0 auto; text-align:center; font-size:15px; font-weight:normal !important;}
#contact_img a{ color:#FFF; text-decoration:none; display:block;}
#contact_img table{ background:url(../images/noise.png) repeat;}
#contact_img td{padding:5px 0px;}
#contact_img td img{ transition: all 0.5s ease 0s;}
#contact_img td:hover img{ transform:rotate(10deg);}
.contact_table {width: 100%;}
.contact_table td {width: 50%;}
.skype {background-color: #DD7A50;}
.gmail {background-color: #54B2A4;}

